
ios/RNScreenshot.xcodeproj/xcuserdata/lumin.xcuserdatad/xcschemes/xcschememanagement.plist

ios/RNScreenshot.xcodeproj/project.xcworkspace/xcuserdata/lumin.xcuserdatad/UserInterfaceState.xcuserstate

ios/RNScreenshot.xcodeproj/xcuserdata/lumin.xcuserdatad/xcschemes/RNQQ.xcscheme
